<mat-toolbar style="background-color: #721010;">
    <span>
        <a routerLink="/landing">
            <img src="./../../../assets/juc-logo-white.png" style="margin-top: 7px;" height="30" />
        </a>
    </span>
    <span class="toolbar-spacer"></span>
    <button mat-button style="margin-right: 5px; color:#ffffff" routerLink="/landing" fragment="about">
        About
    </button>
    <button mat-button style="margin-right: 5px; color:#ffffff" routerLink="/landing" fragment="team">
        Contact
    </button>
    <button mat-button style="margin-right: 5px; color:#ffffff" routerLink="/security">
        Login
    </button>
</mat-toolbar>
<router-outlet></router-outlet>