.main-sidenav-container {	
    display: flex;	
    flex-direction: column;	
    position: absolute;	
    top: 0;	
    bottom: 0;	
    left: 0;	
    right: 0;	
}	

.sidenav-container {	
    flex: 1;	
}	

.main-is-mobile .sidenav-container {	
    flex: 1 0 auto;	
}	

.main-is-mobile .main-toolbar {	

}	

.sidenav {	
    width: 290px;	
    border: 0;	
    /* background-color: #3d3d3d;	 */
    background-color: #721010; 
    border-right: 1px solid #610e0e;	
    color: white;	
}	

.main-toolbar {	

}	
